/* 노말라이즈 */
body,ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a{
    color: inherit;
    text-decoration:none;
  }
  
  
  /* 커스텀 */
  .con{
    width:1280px;
  }
  
  body{
    background-color: #f9f9f9;
  }
  
  .section-1{
    height: 1000px;
  }
  
  .section-1-background{
    position: relative;
    height: 749px;
    width: 100%;
    background-image: url(https://wjsekdud14728.github.io/web-res/o/image/section_1_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
  }
  
  .section-1-background::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(2,15,89,.8);
  }
  
  .section-1 .contents{
    position: relative;
  }
  
  .section-1 .contents>li{
    position: absolute;
  }
  
  /* top-txt */
  .section-1 .contents>li:first-child{
    left: 50%;
    transform: translatex(-50%);
    top: 30px;
  }
  
  /* logo */
  .section-1 .contents>li:nth-child(2){
    top: 320px;
    left: 250px;
  }
  
  /* line */
  .section-1 .contents>li:nth-child(3){
    top: 545px;
    left: 270px;
  }
  
  /* content */
  .section-1 .contents>li:nth-child(4){
    top: 590px;
    left: 270px;
  }
  
  /* phone-mock-up */
  .section-1 .contents>li:nth-child(5){
    top: 200px;
    left: 1200px;
  }
  
  /* right-txt */
  .section-1 .contents>li:last-child{
    left: 1750px;
    top: 450px;
  }
  
  /* section-2 */
  
  .section-2{
    position: relative;
    height: 1550px;
    display: block;
  }
  
  .section-2>ul>li{
    position: absolute;
  }
  
  /* top-txt */
  .section-2>ul>li:first-child{
    top: 160px;
    left: 60px;
  }
  
  /* overview */
  .section-2>ul>li:nth-child(2){
    top: 495px;
    left: 195px;
  }
  
  /* overview_content */
  .section-2>ul>li:nth-child(3){
    top: 625px;
    left: 192px;
  }
  
  /* overview_circle */
  .section-2>ul>li:nth-child(4){
    top: 425px;
    left: 160px;
  }
  
  /* overview-line */
  .section-2>ul>li:nth-child(5){
    top: 476px;
    left: 778px;
  }
  
  /* big-circle */
  .section-2>ul>li:nth-child(6){
    top: 365px;
    left: 425px;
  }
  
  /* logo */
  .section-2>ul>li:nth-child(7){
    top: 816px;
    left: 646px;
  }
  
  /* app-design */
  .section-2>ul>li:nth-child(8){
    top: 1085px;
    left: 1552px;
  }
  
  /* app-design-content */
  .section-2>ul>li:nth-child(9){
    top: 1210px;
    left: 1207px;
  }
  
  /* app-design-circle */
  .section-2>ul>li:nth-child(10){
    top: 1190px;
    left: 1568px;
  }
  
  /* app-design-line */
  .section-2>ul>li:last-child{
    top: 1284px;
    left: 163px;
  }
  
  /* section-3 */
  
  .section-3{
    position: relative;
    height: 800px;
  }
  
  .section-3>ul>li{
    position: absolute;
  }
  
  /* logo */
  .section-3>ul>li:first-child{
    top: 173px;
    left: 197px;
  }
  
  /* logo_line */
  .section-3>ul>li:nth-child(2){
    top: 214px;
  }
  
  /* img_1 */
  .section-3>ul>li:nth-child(3){
    top: 392px;
    left: 448px;
  }
  
  /* img_1_content */
  .section-3>ul>li:nth-child(4){
    top: 626px;
    left: 405px;
  }
  
  /* plus */
  .section-3>ul>li:nth-child(5){
    top: 447px;
    left: 698px;
  }
  
  /* img_2 */
  .section-3>ul>li:nth-child(6){
    top: 426px;
    left: 942px;
  }
  
  /* img_2_content */
  .section-3>ul>li:nth-child(7){
    top: 624px;
    left: 918px;
  }
  
  /* equal */
  .section-3>ul>li:nth-child(8){
    top: 450px;
    left: 1155px;
  }
  
  /* img_3 */
  .section-3>ul>li:nth-child(9){
    top: 392px;
    left: 1358px;
  }
  
  /* img_3_content */
  .section-3>ul>li:last-child{
    top: 624px;
    left: 1331px;
  }
  
  /* section-4 */
  
  .section-4{
    position: relative;
    height: 1600px;
  }
  
  .section-4>ul>li{
    position: absolute;
  }
  
  /* design asset */
  .section-4>ul>li:first-child{
    top: 270px;
    left: 197px;
  }
  
  /* design asset line */
  .section-4>ul>li:nth-child(2){
    top: 312px;
  }
  
  /* color */
  .section-4>ul>li:nth-child(3){
    top: 441px;
    left: 380px;
  }
  
  /* color content */
  .section-4>ul>li:nth-child(4){
    top: 440px;
    left: 558px;
  }
  
  /* color img */
  .section-4>ul>li:nth-child(5){
    top: 595px;
    left: 418px;
  }
  
  /* color img content */
  .section-4>ul>li:nth-child(6){
    top: 743px;
    left: 456px;
  }
  
  /* typo */
  .section-4>ul>li:nth-child(7){
    top: 955px;
    left: 379px;
  }
  
  /* typo content */
  .section-4>ul>li:nth-child(8){
    top: 962px;
    left: 558px;
  }
  
  /* typo content-1 */
  .section-4>ul>li:nth-child(9){
    top: 1108px;
    left: 552px;
  }
  
  /* typo content-2 */
  .section-4>ul>li:last-child{
    top: 1188px;
    left: 1350px;
  }
  
  /* section-5 */
  
  .section-5{
    position: relative;
    height: 1800px;
  }
  
  .section-5>ul>li{
    position: absolute;
  }
  
  /* interface */
  .section-5>ul>li:first-child{
    top: 165px;
    left: 64px;
  }
  
  /* gui design */
  .section-5>ul>li:nth-child(2){
    top: 385px;
    left: 196px;
  }
  
  /* gui design line */
  .section-5>ul>li:nth-child(3){
    top: 427px;
  }
  
  /* circle */
  .section-5>ul>li:nth-child(4){
    top: 533px;
    left: 800px;
  }
  
  /* splash mockup */
  .section-5>ul>li:nth-child(5){
    top: 825px;
    left: 254px;
  }
  
  /* login mockup */
  .section-5>ul>li:nth-child(6){
    top: 949px;
    left: 589px;
  }
  
  /* title */
  .section-5>ul>li:nth-child(7){
    top: 913px;
    left: 1210px;
  }
  
  /* content */
  .section-5>ul>li:nth-child(8){
    top: 1016px;
    left: 1281px;
  }
  
  /* content-1 */
  .section-5>ul>li:last-child{
    top: 1354px;
    left: 851px;
  }
  
  /* section-6 */
  
  .section-6{
    position: relative;
    height: 3300px;
  }
  
  .section-6>ul>li{
    position: absolute;
  }
  
  /* title */
  .section-6>ul>li:first-child{
    top: 440px;
    left: 215px;
  }
  
  /* content */
  .section-6>ul>li:nth-child(2){
    top: 544px;
    left: 216px;
  }
  
  /* bg */
  .section-6>ul>li:nth-child(3){
    top: 763px;
    left: 90px;
  }
  
  /* home mockup-1 */
  .section-6>ul>li:nth-child(4){
    top: 667px;
    left: 709px;
  }
  
  /* details-1 */
  .section-6>ul>li:nth-child(5){
    top: 901px;
    left: 295px;
  }
  
  /* details-2 */
  .section-6>ul>li:nth-child(6){
    top: 1214px;
    left: 1123px;
  }
  
  /* details-3 */
  .section-6>ul>li:nth-child(7){
    top: 1512px;
    left: 370px;
  }
  
  /* details-4 */
  .section-6>ul>li:nth-child(8){
    top: 1777px;
    left: 1123px;
  }
  
  /* details-5 */
  .section-6>ul>li:nth-child(9){
    top: 2326px;
    left: 227px;
  }
  
  /* home mockup-2 */
  .section-6>ul>li:nth-child(10){
    top: 1995px;
    left: 1198px;
  }
  
  /* details-6 */
  .section-6>ul>li:last-child{
    top: 2539px;
    left: 808px;
  }
  
  /* section-7 */
  
  .section-7{
    position: relative;
    height: 2183px;
  }
  
  .section-7>ul>li{
    position: absolute;
  }
  
  /* title */
  .section-7>ul>li:first-child{
    top: 180px;
    left: 215px;
  }
  
  /* two-circle */
  .section-7>ul>li:nth-child(2){
    top: 170px;
    left: 1325px;
  }
  
  /* store-mockup */
  .section-7>ul>li:nth-child(3){
    top: 325px;
    left: 1159px;
  }
  
  /* store-content */
  .section-7>ul>li:nth-child(4){
    top: 581px;
    left: 400px;
  }
  
  /* circle */
  .section-7>ul>li:nth-child(5){
    top: 800px;
    left: -125px;
  }
  
  /* library mockup */
  .section-7>ul>li:nth-child(6){
    top: 1070px;
    left: 414px;
  }
  
  /* library content */
  .section-7>ul>li:last-child{
    top: 1313px;
    left: 1082px;
  }
  
  /* section-8 */
  
  .section-8-background{
    width: 100%;
    height: 1170px;
    background-color: rgba(2,15,89,.8);
    position: relative;
  }
  
  .section-8-background>ul>li{
    position: absolute;
  }
  
  /* title */
  .section-8-background>ul>li:first-child{
    top: 156px;
    left: 50%;
    transform: translatex(-50%);
  }
  
  /* title line */
  .section-8-background>ul>li:nth-child(2){
    top: 172.5px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-8-background>ul>li:nth-child(2)>img{
    width: 100%;
  }  
  
  /* content */
  .section-8-background>ul>li:nth-child(3){
    top: 267px;
    left: 50%;
    transform: translatex(-50%);
  }
  
  /* mockup-1 */
  .section-8-background>ul>li:nth-child(4){
    top: 386px;
  }
  
  /* mockup-2 */
  .section-8-background>ul>li:nth-child(5){
    top: 386px;
    left: 291px;
  }
  
  /* mockup-3 */
  .section-8-background>ul>li:nth-child(6){
    top: 386px;
    left: 619px;
  }
  
  /* mockup-4 */
  .section-8-background>ul>li:nth-child(7){
    top: 386px;
    left: 946px;
  }
  
  /* mockup-5 */
  .section-8-background>ul>li:nth-child(8){
    top: 386px;
    left: 1274px;
  }
  
  /* mockup-6 */
  .section-8-background>ul>li:last-child{
    top: 386px;
    left: 1601px;
  }
  
  /* section-9 */
  
  .section-9{
    height: 1300px;
    position: relative;
  }
  
  .section-9>ul>li{
    position: absolute;
  }
  
  /* background */
  .section-9>ul>li:first-child{
    width: calc(100% - 509px);
    height: 970px;
    left: 509px;
    background-color: rgba(51,62,121,.09);
    border-radius: 485px 0 0 485px;
    top: 260px;
    z-index: -2;
  }
  
  /* title */
  .section-9>ul>li:nth-child(2){
    top: 560px;
    left: 281px;
  }
  
  /* content */
  .section-9>ul>li:nth-child(3){
    top: 761px;
    left: 281px;
  }
  
  /* mockup */
  .section-9>ul>li:nth-child(4){
    top: 430px;
    left: 1006px;
  }
  
  /* detail mockup */
  .section-9>ul>li:last-child{
    top: 360px;
    left: 1319px;
    z-index: -1;
  }
  
  /* section-10 */
  
  .section-10{
    position: relative;
    height: 1423px;
  }
  
  .section-10>ul>li{
    position: absolute
  }
  
  /* background */
  .section-10>ul>li:first-child{
    width: 1411px;
    height: 970px;
    background-color: rgba(51,62,121,.09);
    border-radius: 0 485px 485px 0;
    top: 108px;
  }
  
  /* title */
  .section-10>ul>li:nth-child(2){
    top: 349px;
    left: 1207px;
  }
  
  /* content */
  .section-10>ul>li:nth-child(3){
    top: 551px;
    left: 1036px;
  }
  
  /* mockup */
  .section-10>ul>li:nth-child(4){
    top: 278px;
    left: 463px;
  }
  
  /* details-1 */
  .section-10>ul>li:nth-child(5){
    top: 368px;
    left: 204px;
  }
  
  /* details-2 */
  .section-10>ul>li:nth-child(6){
    top: 690px;
    left: 266px;
  }
  
  /* details-3 */
  .section-10>ul>li:nth-child(7){
    top: 332px;
    left: 761px;
  }
  
  /* details-4 */
  .section-10>ul>li:nth-child(8){
    top: 365px;
    left: 761px;
  }
  
  /* details-5 */
  .section-10>ul>li:last-child{
    top: 503px;
    left: 726px;
  }
  
  /* section-11 */
  .section-11{
    background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/o/image/section_11.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1429px;
  }
  
  /* section-12 */
  .section-12{
    height: 320px;
    background-color: #020f59;
    position: relative;
  }
  
  .section-12>img{
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translatex(-50%);
  }
  
  body{
    overflow-x: hidden;
  }