/* 폰트적용 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
  font-family: 'Nanum Gothic', sans-serif;
}
/* 노말라이즈 */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  text-decoration: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.con{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.img-box > img{
  width: 100%;
  display: block;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.cell{
  float: left;
  box-sizing: border-box;
}

.cell-right{
  float: right;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.flex-jc-sb{
  justify-content: space-between;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bg-red{
  background-color: red;
}

.border-red{
  border: 1px solid red;
}

.height-100p{
  height: 100%;
}

/* 커스텀 */

.con{
  max-width: 1800px;
  min-width: 350px;
}

.header-active #header{
  transform: translatey(0);
}

#header{
  position: fixed;
  z-index: 10;
  width: 100%;
  color: #fff;
  padding: 10px 35px;
  box-sizing: border-box;
  transition: transform .5s;
  transform: translatey(-100%);
}

#header:hover{
  background-color: rgba(0,0,0,.2);
}

.header__logo, .header__logo-color{
  margin: auto 0 ;
  width: 150px;
}

.header__logo-color{
  display: none;
}

.header__menu-bar-1{
  margin: auto 0 auto 50px;
}

.header__menu-bar-1>ul>li:not(:last-child){
  margin-right: 5px;
}

.header__menu-bar-1>ul>li>a,.header__menu-bar-2>ul>li>a{
  display: block;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.header__menu-bar-2{
  margin: auto 50px auto 0;
}

.header__menu-bar-2>ul>li:not(:first-child){
  margin-left: 5px;
}

.header__menu-bar-1>ul>li>a:after,.header__menu-bar-2>ul>li>a:after{
  content:'';
  position:absolute;
  bottom:-10px;
  left:0;
  height:2px;
  width:0;
  background: #006ecd ;
}

.header__menu-bar-1>ul>li>a:hover:after,.header__menu-bar-2>ul>li>a:hover:after{
  width:100%;
  transition:400ms ease all;
}

.header__icos{
  margin: auto 0;
}

.header__icos>a{
  display: block;
  padding: 5px;
  width: 40px;
  box-sizing: border-box;
}

.header__icos>a:first-child{
  margin-right: 10px;
}

.header__icos-black{
  display: none;
}



/* 비주얼 */
#visual{
  height: 100vh;
}

#visual > .my-slider-box-1{
  position: relative;
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container{
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper{
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>div{
  position: absolute;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>div:not(:last-child){
  z-index: 5;
  color: white;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform:scale(1.2);
  transition:transform 3s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__img{
  transform:scale(1);
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:first-child>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_1.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_2.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(3)>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_3.png)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:last-child>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_4.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt{
  top: 45%;
  left: 200px;
  transform: translatey(-50%);
  
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title{
  font-size: 50px;
  font-weight: bold;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title>span{
  transform: translatey(20%);
  opacity: 0;
  transition: all .5s .2s;
  display: block;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title>span:nth-of-type(2){
  transition: all .5s .5s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__title>span{
  transform: translatey(0);
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__content{
  margin-top: 50px;
  opacity: 0;
  transition: opacity 1s .7s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__content{
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-top: 20px;
  opacity: 0;
  transition: background-color .2s, border-color .2s ,opacity 1s 1.1s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__btn{
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn>a{
  display: block;
  padding: 10px 30px;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn:hover{
  background-color: #006ecd;
  border-color: #006ecd;
}

#visual>.my-slider-box-1>.swiper-pagination {
  position:absolute;
  bottom: 5%;
  left: 50%;
  transform: translatex(-50%);
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet {
  position: relative;
  width: 145px;
  height: 25px;
  margin:0 5px;
  border-radius: 0;
  overflow: none;
  background-color: transparent;
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::before,#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: .5;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::after{
  width:0;
  opacity: 1;
}


 html.active #visual>.my-slider-box-1:not([data-autoplay-stop="Y"])>.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  animation:width-0-to-100;
  animation-duration:10s;
  width:100%;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet>span{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  white-space: nowrap;
  color: #fff;
  font-size: .8rem;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns{
  position: absolute;
  bottom: 5%;
  left: 32%;
  width: 25px;
  height: 25px;
  z-index: 100;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div:first-child{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_pause.png);
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div:last-child{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_play.png);
}

.my-slider-box-1 .btn-start-autoplay {
  display:none;
}

.my-slider-box-1[data-autoplay-stop="Y"] .btn-start-autoplay {
  display:block;
}

.my-slider-box-1[data-autoplay-stop="Y"] .btn-stop-autoplay {
  display:none;
}

@keyframes width-0-to-100 {
  0% {
    width:0;
  }
  
  100% {
    width:100%;
  }
}
#content{
  position: relative;
}

#content::before{
  position: fixed;
  display: block;
  content: "";
  top: 0;
  left: 2.5%;
  height: 100vh;
  width: .5px;
  background-color: #808080;
}

/* 인디케이터 */
.indicator{
  position: fixed;
  top: 50%;
  left: 3%;
  transform: translatey(-50%);
  z-index: 100;
}

.indicator>ul>li>a{
  position: relative;
  display: block;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: bold;
}

.indicator>ul>li>a.active{
  color: #006ECD;
}

/* section-1 */

#content>.section-1{
  padding: 140px 0;
  background-color: #F4F4F4;
  width: 80%;
  margin: 165px 0 165px auto;
}

.section-1__title>span{
  display: block;
  font-size: 35px;
  color: #333;
  text-align: center;
}

.section-1__title>span:first-child{
  font-weight: 700;
}

.section-1__title>span:last-child{
  margin-top: 10px;
  font-size: 15px;
}

.section-1__contents{
  margin-top: 70px;
}

.section-1__contents>div{
  width: 50%;
}

.section-1>.work-rule-item>ul{
  margin-top: 60px;
}

.section-1>.work-rule-item>ul>li{
  width: 25%;
  padding: 40px;
  box-sizing: border-box;
}

.section-1>.work-rule-item>ul>li:not(:last-child){
  border-right: .5px solid rgba(0,0,0,.3);
}

.section-1>.work-rule-item>ul>li>.image{
  width: 130px;
  margin: 0 auto;
}

.section-1>.work-rule-item>ul>li>.title{
  font-size: 23px;
  color: #333;
  text-align: center;
  margin-top: 60px;
  font-weight: 500;
}

.section-1>.work-rule-item>ul>li>.sub-title{
  font-size: 13px;
  color: #006ECD;
  text-align: center;
}

.section-1>.work-rule-item>ul>li>.txt{
  font-size: 15px;
  color: #959595;
  margin : 24px auto 0 auto;
  width: 90%;
}

/* 섹션2 */

.section-2{
  display: block;
  height: 100vh;
}

.section-2__bg-image{
  width: 660px;
  height: 100vh;
  position: absolute;
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-2_bg-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.section-2__bg-image::after{
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
}

.section-2__title-box{
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translatey(-50%);
  left: 20%;
}

.section-2__title-img{
  position: relative;
}

.section-2__title-img::after{
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.section-2__title{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translatey(-50%);
}

.section-2__title>span{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  display: block;
}



.section-2__inner-pages{
  margin-left: 20%;
  text-align: right;
  padding: 175.9px 0;
}

.section-2__inner-page{
  border-top: 2px solid rgba(153,153,153,.5);
  color: #333;
  padding-right: 5%;
  height: 100px;
  overflow: hidden;
  transition: height .8s;
}

.section-2__inner-page.active{
  height: 400px;
  background-color: #006ECD;
  color: #fff;
}

.section-2__inner-page:last-child{
  border-bottom: 2px solid rgba(153,153,153,.5);
}

.section-2__inner-page-title{
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
}

.section-2__inner-page-des{
  font-size: 15px;
  margin-top: 5px;
}

.section-2__ip-slider-box{
  margin-top: 35px;
  width: 85%;
  margin-left: auto;
  margin-right: 0;
  transition: margin-top .2s;

}

.section-2__inner-page.active .section-2__ip-slider-box{
  margin-top: 20px;
}

.section-2__ip-image-box{
  width:200px;
  margin: 0 auto;
}

.section-2__ip-title{
  text-align: center;
  margin-top: 7px;
  font-size: 17px;
}

.section-2__ip-des{
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 13px;
  text-align: left;
}
/* 섹션 3 */

.section-3{
  height: 100vh;
  background-color: red;
}

/* 섹션 4 */

.section-4{
  height: 100vh;
  background-color: green;
}

/* 섹션 5 */

.section-5{
  height: 100vh;
  background-color: blue;
}

/* 푸터 */

#footer{
  height: 10vh;
  background-color: #afafaf;
}