/* 폰트적용 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
*{
  font-family: 'Nanum Gothic', sans-serif;
}
/* 노말라이즈 */
*{
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  text-decoration: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 라이브러리 */
.con{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.img-box > img{
  width: 100%;
  display: block;
}

.row::after{
  content: "";
  display: block;
  clear: both;
}

.cell{
  float: left;
  box-sizing: border-box;
}

.cell-right{
  float: right;
  box-sizing: border-box;
}

.flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-jc-sb{
  justify-content: space-between;
}

.flex-jc-sa{
  justify-content: space-around;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bg-red{
  background-color: red;
}

.border-red{
  border: 1px solid red;
}

.height-100p{
  height: 100%;
}

/* 커스텀 */
.site_wrap{
  background-color: #fff;
}

.con{
  max-width: 1800px;
  min-width: 350px;
}

/* 스크롤 */

  /* total width */
  body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }
  
  /* background of the scrollbar except button or resizer */
  body::-webkit-scrollbar-track {
    background-color: #fff;
  }
  
  /* scrollbar itself */
  body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }
  
  /* set button(top and bottom of the scrollbar) */
  body::-webkit-scrollbar-button {
    display:none;
  }

  
  
  /* header */

.header-active #header{
  transform: translatey(0);
}

#header{
  position: fixed;
  z-index: 10;
  width: 100%;
  color: #fff;
  padding: 10px 35px;
  box-sizing: border-box;
  transition: transform .5s;
  transform: translatey(-100%);
  z-index: 100;
}

#header:hover{
  background-color: rgba(0,0,0,.2);
}

.header__logo, .header__logo-color{
  margin: auto 0 ;
  width: 150px;
}

.header__logo-color{
  display: none;
}

.header__menu-bar-1{
  margin: auto 0 auto 50px;
}

.header__menu-bar-1>ul>li:not(:last-child){
  margin-right: 5px;
}

.header__menu-bar-1>ul>li>a,.header__menu-bar-2>ul>li>a{
  display: block;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
}

.header__menu-bar-2{
  margin: auto 50px auto 0;
}

.header__menu-bar-2>ul>li:not(:first-child){
  margin-left: 5px;
}

.header__menu-bar-1>ul>li>a:after,.header__menu-bar-2>ul>li>a:after{
  content:'';
  position:absolute;
  bottom:-10px;
  left:0;
  height:2px;
  width:0;
  background: #006ecd ;
}

.header__menu-bar-1>ul>li>a:hover:after,.header__menu-bar-2>ul>li>a:hover:after{
  width:100%;
  transition:400ms ease all;
}

.header__icos{
  margin: auto 0;
}

.header__icos>a{
  display: block;
  padding: 5px;
  width: 40px;
  box-sizing: border-box;
}

.header__icos>a:first-child{
  margin-right: 10px;
}

.header__icos-black{
  display: none;
}



/* 비주얼 */
#visual{
  height: 100vh;
  z-index: 100;
}

#visual > .my-slider-box-1{
  position: relative;
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container{
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper{
  height: 100%;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>div{
  position: absolute;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>div:not(:last-child){
  z-index: 5;
  color: white;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform:scale(1.2);
  transition:transform 3s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__img{
  transform:scale(1);
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:first-child>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_1.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_2.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(3)>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_3.png)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide:last-child>.my-slider-box-1__img{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_4.jpg)
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt{
  top: 45%;
  left: 200px;
  transform: translatey(-50%);
  
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title{
  font-size: 50px;
  font-weight: bold;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title>span{
  transform: translatey(20%);
  opacity: 0;
  transition: all .5s .2s;
  display: block;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__title>span:nth-of-type(2){
  transition: all .5s .5s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__title>span{
  transform: translatey(0);
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__content{
  margin-top: 50px;
  opacity: 0;
  transition: opacity 1s .7s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__content{
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn{
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-top: 20px;
  opacity: 0;
  transition: background-color .2s, border-color .2s ,opacity 1s 1.1s;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide.swiper-slide-active>.my-slider-box-1__txt>.my-slider-box-1__btn{
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn>a{
  display: block;
  padding: 10px 30px;
}

#visual>.my-slider-box-1>.swiper-container>.swiper-wrapper>.swiper-slide>.my-slider-box-1__txt>.my-slider-box-1__btn:hover{
  background-color: #006ecd;
  border-color: #006ecd;
}

#visual>.my-slider-box-1>.swiper-pagination {
  position:absolute;
  bottom: 5%;
  left: 50%;
  transform: translatex(-50%);
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet {
  position: relative;
  width: 145px;
  height: 25px;
  margin:0 5px;
  border-radius: 0;
  overflow: none;
  background-color: transparent;
  opacity: 1;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::before,#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: .5;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet::after{
  width:0;
  opacity: 1;
}


 html.active #visual>.my-slider-box-1:not([data-autoplay-stop="Y"])>.swiper-pagination > .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  animation:width-0-to-100;
  animation-duration:10s;
  width:100%;
}

#visual>.my-slider-box-1>.swiper-pagination > .swiper-pagination-bullet>span{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  white-space: nowrap;
  color: #fff;
  font-size: .8rem;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns{
  position: absolute;
  bottom: 5%;
  left: 32%;
  width: 25px;
  height: 25px;
  z-index: 100;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div{
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div:first-child{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_pause.png);
}

#visual>.my-slider-box-1>.swiper-autoplay-btns>div:last-child{
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/visual_play.png);
}

.my-slider-box-1 .btn-start-autoplay {
  display:none;
}

.my-slider-box-1[data-autoplay-stop="Y"] .btn-start-autoplay {
  display:block;
}

.my-slider-box-1[data-autoplay-stop="Y"] .btn-stop-autoplay {
  display:none;
}

@keyframes width-0-to-100 {
  0% {
    width:0;
  }
  
  100% {
    width:100%;
  }
}

/* 인디케이터 */

#content{
  position: relative;
}

#content::before{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 2.5%;
  height: 100%;
  width: .5px;
  background-color: white;
  mix-blend-mode:difference;
  z-index: 99;
}

.indicator{
  position: absolute;
  top: 0;
  left: 3%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 99;
}

.indicator>ul>li>a{
  position: relative;
  display: block;
  padding: 10px 5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  mix-blend-mode:difference;
}

.indicator>ul>li>a.active{
  color: #006ECD;
}

/* section-1 */

.section-1{
  height: 100vh;
  position: relative;
}


.section-1__box{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  padding: 140px 0;
  background-color: #F4F4F4;
  width: 80%;
  margin: auto 0 auto auto;
}

.section-1__title>span{
  display: block;
  font-size: 35px;
  color: #333;
  text-align: center;
}

.section-1__title>span:first-child{
  font-weight: 700;
}

.section-1__title>span:last-child{
  margin-top: 10px;
  font-size: 15px;
}

.section-1__contents{
  margin-top: 70px;
}

.section-1__contents>div{
  width: 50%;
}

.section-1__box>.work-rule-item>ul{
  margin-top: 60px;
}

.section-1__box>.work-rule-item>ul>li{
  width: 25%;
  padding: 40px;
  box-sizing: border-box;
}

.section-1__box>.work-rule-item>ul>li:not(:last-child){
  border-right: .5px solid rgba(0,0,0,.3);
}

.section-1__box>.work-rule-item>ul>li>.image{
  width: 130px;
  margin: 0 auto;
}

.section-1__box>.work-rule-item>ul>li>.title{
  font-size: 23px;
  color: #333;
  text-align: center;
  margin-top: 60px;
  font-weight: 500;
}

.section-1__box>.work-rule-item>ul>li>.sub-title{
  font-size: 13px;
  color: #006ECD;
  text-align: center;
}

.section-1__box>.work-rule-item>ul>li>.txt{
  font-size: 15px;
  color: #959595;
  margin : 24px auto 0 auto;
  width: 90%;
}

/* 섹션2 */

.section-2{
  display: block;
  height: 100vh;
}

.section-2__bg-image{
  width: 660px;
  height: 100vh;
  position: absolute;
  background-image: url(https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-2_bg-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

.section-2__bg-image::after{
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
}

.section-2__title-box{
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translatey(-50%);
  left: 15%;
}

.section-2__title-img{
  position: relative;
}

.section-2__title-img::after{
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}

.section-2__title{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translatey(-50%);
}

.section-2__title>span{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  display: block;
}

.section-2__inner-pages{
  position: relative;
  top: 50%;
  transform: translatey(-50%);
  margin-left: 20%;
  text-align: right;
}

.section-2__inner-page{
  border-top: 2px solid rgba(153,153,153,.5);
  color: #333;
  padding-right: 5%;
  height: 100px;
  overflow: hidden;
  transition: height .8s;
}

.section-2__inner-page.active{
  height: 430px;
  background-color: #006ECD;
  color: #fff;
}

.section-2__inner-page:last-child{
  border-bottom: 2px solid rgba(153,153,153,.5);
}

.section-2__inner-page-title{
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
}

.section-2__inner-page-des{
  font-size: 15px;
  margin-top: 5px;
}

.section-2__ip-slider-box{
  margin-top: 35px;
  width: 85%;
  margin-left: auto;
  margin-right: 0;
  transition: margin-top .2s;
  position: relative;
}

.section-2__ip-btn-left,.section-2__ip-btn-right{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  right: 0;
  bottom: -40px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  z-index: 50;
  box-sizing: border-box;
}

.section-2__ip-btn-left{
  right: 3%;
}

.section-2__ip-btn-left:hover,.section-2__ip-btn-right:hover{
  background-color: #fff;
  color: #006ecd;
}

.section-2__inner-page.active .section-2__ip-slider-box{
  margin-top: 20px;
}

.section-2__ip-image-box{
  width:200px;
  margin: 0 auto;
}

.section-2__ip-title{
  text-align: center;
  margin-top: 7px;
  font-size: 17px;
}

.section-2__ip-des{
  width: 200px;
  margin: 0 auto;
  margin-top: 5px;
  font-size: 13px;
  text-align: left;
}
/* 섹션 3 */

.section-3{
  margin-left: 15%;
  margin-top: 250px;
}

.section-3__title{
  margin-bottom: 50px;
}

.section-3__title>span{
  display: block;
  font-size: 35px;
  font-weight: bold;
  color: #333;
}

.section-3__main-article-box{
  height: 100vh;
  width: 40%;
}

.section-3__main-article-box .thumb{
  position: relative;
  padding-right:  15px;
  z-index: -100;
}

.section-3__main-article-box .thumb>.box{
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 80%;
  height: 12%;
  background-color: #fff;
}

.section-3__main-article-box .txt{
  color: #000;
  margin-top: -80px;
  text-align: left;
}

.section-3__main-article-box .category{
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 14px;
}

.section-3__main-article-box .title{
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 39px;
}

.section-3__main-article-box .des{
  font-weight: 500;
  font-size: 17px;
}

.section-3__main-article-box .arrow{
  position: relative;
  width: 100px;
  height: 20px;
  margin-top: -40px;
  margin-right: 10%;
  margin-left: auto;
  transition: transform .5s .3s;
}

.section-3__main-article-box .arrow>div{
  background-color: #000;
}

.section-3__main-article-box .arrow>div:nth-child(1){
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: right top;
  transition: transform .5s .3s;
}

.section-3__main-article-box .arrow>div:nth-child(2){
  height: 100%;
  width: 3px;
  position: absolute;
  bottom: 2px;
  right: -3px;
  transform: rotate(-45deg);
  transform-origin: right bottom;
}

.section-3__main-article-box .arrow>div:nth-child(3){
  background-color: inherit;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  transition: opacity .3s 0s;
  opacity: 0;
}

/* .section-3__main-article-box:hover .arrow{
  transform: translateX(25%);
  transition: transform .5s 0s;
} */

.section-3__main-article-box:hover .arrow>div:nth-child(1){
  transform: scaleX(1.5);
  transition: transform .5s 0s;
}

.section-3__main-article-box:hover .arrow>div:nth-child(3){
  opacity: 1;
  transition: opacity .3s .5s;
}

.section-3__article-box{
  height: 100%;
  width: 60%;
}

.section-3__article-box>ul>li{
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
}

.section-3__article-box>ul>li:not(:nth-child(7)), .section-3__article-box>ul>li:not(:nth-child(8)){
  margin-bottom: 80px;
}

.section-3__article-box>ul>li .thumb{
  overflow: hidden;
}

.section-3__article-box>ul>li .thumb>img{
  transition: transform .8s;
}

.section-3__article-box>ul>li .category{
  margin: 10px 0 20px 0;
  font-weight: 300;
  font-size: 15px;
}

.section-3__article-box>ul>li .title{
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 10px;
}

.section-3__article-box>ul>li .dex {
  font-weight: 500;
  font-size: 15px;
}

.section-3__article-box>ul>li:hover .thumb> img{
  transform: scale(1.1);
}

/* 섹션 4 */


.section-4-wrap{
  position: relative;
  height: 100vh;
  padding-top: 230px;
  box-sizing: border-box;
  overflow: hidden;
}

.section-4-wrap::after{
  position: absolute;
  content:"";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  background-color: rgba(0,0,0,.05);
}

.section-4{
  position: relative;
  margin-left: 15%;
  height: 100%;
  z-index: 10;
  /* background-color: gold; */
}

.section-4__title>span{
  display: block;
  font-size: 35px;
  color: #333;
  text-align: left;
  font-weight: 800;
}

.section-4__title>span:first-child{
  margin-top: 10px;
  font-size: 20px;
  color: #bababa;
  font-weight: 700;
}

.section-4__title>span:last-child{
  margin-top: 10px;
}

.section-4__page-content{
  position: absolute;
  top: 0;
  align-items: center;
  height: 100%;
  width: 100%;
}

.section-4__page-content>.card{
  position: relative;
  height: 50%;
  width: 20%;
  margin: 0 35px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}

.section-4__page-content>.card:nth-child(1){
  background-image: url("https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-4__img1.png");
}

.section-4__page-content>.card:nth-child(2){
  background-image: url("https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-4__img2.png");
}

.section-4__page-content>.card:nth-child(3){
  background-image: url("https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-4__img3.png");
}

.section-4__page-content>.card:nth-child(4){
  background-image: url("https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/cj/section-4__img4.png");
}

.section-4__page-content>.card>.card-bg{
  position: absolute;
  content: "";
  left: 0;
  top: 87%;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  transition: top .5s;
}

.section-4__page-content>.card>.content{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 80%;
  transform: translate(-50%,0);
  text-align: center;
  color: #fff;
  /* margin-top: 40%; */
  z-index: 10;
  transition: top .5s, transform .5s; 
}

.section-4__page-content>.card>.content>.title{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 35px;
}

.section-4__page-content>.card>.content>.des{
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity .5s;
}

.section-4__page-content>.card>.content>.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.section-4__page-content>.card>.content>.btn:hover{
  background-color: lighten(black, 5%);
}

.section-4__page-content>.card:hover>.card-bg{
  top: 0;
}

.section-4__page-content>.card:hover>.content{
  top: 50%;
  transform: translate(-50%,-50%)
}

.section-4__page-content>.card:hover>.content>.des{
  opacity: 1;
}


/* 섹션 5 */

.section-5{
  height: 100vh;
  background-color: blue;
}

/* 푸터 */

#footer{
  height: 10vh;
  background-color: #afafaf;
}