/* 노말라이징 */
*{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 시작 */
.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
    ;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-c {
    align-self: center;
}

/* 성장성 부여 */
.flex-grow-1 {
    flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
    flex: 1 0 0;
}

.block {
    display: block;
}

.height-100p {
    height: 100%;
}

.height-100vh {
    height: 100vh;
}

.min-height-100vh {
    min-height: 100vh;
}

.img-box>img {
    width: 100%;
    display: block;
}

.bg-red {
    background-color: red;
}

.bg-gold {
    background-color: gold;
}

.bg-blue {
    background-color: blue;
}

.border-box {
    box-sizing: border-box;
}

.padding-0-10 {
    padding: 0 10px;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
body{
    background-color: #ffd432;
}

.logo{
    position: absolute;
    top: 7%;
    left: 7%;
    width: 80px;
}

.gnb{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
}

.gnb>ul>li{
    width: 160px;
    padding-left: 20px;
    box-sizing: border-box;
}

.gnb>ul>li>a{
    display: block;
    padding: 8px;
    font-size: 13px;
}
/* 커스텀 끝 */