/* 폰트적용 */
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-5Medium', sans-serif;
}

/* 노말라이징 */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 시작 */
.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
    ;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-c {
    align-self: center;
}

/* 성장성 부여 */
.flex-grow-1 {
    flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
    flex: 1 0 0;
}

.flex-wrap{
    flex-wrap: wrap;
}

.block {
    display: block;
}

.height-100p {
    height: 100%;
}

.height-100vh {
    height: 100vh;
}

.min-height-100vh {
    min-height: 100vh;
}

.img-box>img {
    width: 100%;
    display: block;
}

.bg-red {
    background-color: red;
}

.bg-gold {
    background-color: gold;
}

.bg-blue {
    background-color: blue;
}

.border-box {
    box-sizing: border-box;
}

.padding-0-10 {
    padding: 0 10px;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
body,
html {
    overflow: hidden;
}

body {
    background-color: #fbf8f1;
    height: 5000vh;
    font-family: Orbitron;
    letter-spacing: 2px;
}

.logo {
    position: fixed;
    top: 7%;
    left: 7%;
    width: 80px;
    z-index: 100;
}

.scrollNavi {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    z-index: 9;
}

.scrollNavi>ul>li {
    width: 200px;
    padding-left: 20px;
    box-sizing: border-box;
    perspective: 400px;
}

.scrollNavi>ul>li.on {
    background-color: #ebc681;
    color: #fff;
}

.scrollNavi>ul>li>a {
    display: block;
    padding: 20px 8px;
    font-size: 15px;
}


.move-box {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 2300px;
    z-index: 1;
}

.move-box>article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 8;
}

.move-box>article.on {
    opacity: 1;
    z-index: 9;
    background-color: #fbf8f1;
}

.move-box>.home {
    transform: translateZ(0px);
    background-color: beige;
}

.move-box>.about {
    transform: translateZ(-5000px);
}

.move-box>.ui-ux {
    transform: translateZ(-10000px);
}

.move-box>.personal {
    transform: translateZ(-15000px);
}

.move-box>.contact {
    transform: translateZ(-20000px);
}

.home>ul>li {
    position: absolute;
}

.home__img-1 {
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
    width: 90%;
}

.home__img-2,.home__img-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
}

.home__img-3 {
    opacity: 0;
}

.home__img-4 {
    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.about>.flex{
    min-width: 1200px;
    margin-left: 15%;
}

.about__left, .about__right{
    width: 40%;
    box-sizing: border-box;
}

.about__profile-img{
    width: 45%;
    margin: 0 auto;
}

.about__name{
    width: 90%;
    font-size: 20px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about__name>span{
    display: block;
}

.about__name>span>strong{
    color: #91751c;
}

.about__name>span:last-child{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    margin-top: 15px;
}

.about__information{
    font-size: 30px;
    font-weight: bold;
    margin-top: 13px;
}

.about__introduce{
    font-size: 20px;
    margin-top: 50px
}

.about__introduce>p{
    margin-top: 7px;
}

.about__right{
    margin-left: 0px;
}

.about__right>div>.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 17px;
}

.about__right>div>div:not(:first-child){
    font-size: 15px;
    display: inline-block;
}

.about__right>div>div:not(:first-child)>p{
    padding-bottom: 7px;
}

.about__right>div>.date{
    color: #91751c;
    margin-right: 5px;
}

.about__right>div:not(:first-child){
    margin-top: 50px;
}

.about__right>div:last-child>div>p:not(:last-child){
    padding-bottom: 15px;
}

.about__skills>.stick{
    height: 165px;
    margin-left: 50px;
}

.about__skill-stick-box{
    position: relative;
    width: 400px;
    height: 20%;
    margin-bottom: 2px;
}

.about__skill-stick-box>.about__skill-stick{
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: #fff;
    top: 50%;
    transform: translatey(-50%);
}

.about__skill-stick-box>.about__skill-stick>div{
    position: absolute;
    top:0;
    left: 0;
    background-color: #91751c;
    height: 100%;
    width: 0;
    transition: all 2s;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-90{
    width: 90%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-80{
    width: 80%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-70{
    width: 70%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-60{
    width: 60%;
}

.ui-ux>.flex{
    min-width: 1200px;
    margin-left: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.ui-ux>.flex>li{
    position: relative;
    width: 35%;
    height: 40%;
}

.ui-ux>.flex>li>a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 60%;
    left: 50%;
    transform: translatex(-50%);
}

.ui-ux>.flex>li:nth-child(1)>a, .ui-ux>.flex>li:nth-child(2)>a{
    bottom: 0;
}

.ui-ux>.flex>li>a>.ui-ux__item-img-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    transition: all 1s;
}

.ui-ux>.flex>.ui-ux__item-1>a>.ui-ux__item-img-1{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ui-ux__item-1.png');
    background-position: center bottom;
}

.ui-ux__item-2>a>.ui-ux__item-img-1{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ui-ux__item-2.png');
}

.ui-ux__item-3>a>.ui-ux__item-img-1{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ui-ux__item-3.png');
}

.ui-ux__item-4>a>.ui-ux__item-img-1{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ui-ux__item-4.png');
}


.ui-ux>.flex>li>a>.ui-ux__item-img-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: width 1s, height 1s, opacity .7s .3s;
    animation-name: rollin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-delay: 0s;
}

.ui-ux__item-1>a>.ui-ux__item-img-2{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ux-ui__item-sub-1.png');
}

.ui-ux__item-2>a>.ui-ux__item-img-2{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ux-ui__item-sub-2.png');
}

.ui-ux__item-3>a>.ui-ux__item-img-2{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ux-ui__item-sub-3.png');
}

.ui-ux__item-4>a>.ui-ux__item-img-2{
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/ux-ui__item-sub-4.png');
}

  @keyframes rollin {
    0% {
      transform: translate(-50%,-50%) rotate(0deg);
    }
    
    0% {
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }
  
  .ui-ux>.flex>li>a:hover>.ui-ux__item-img-1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
  }
  
  .ui-ux>.flex>li>a:hover>.ui-ux__item-img-2{
    opacity: .3;
    width: 200px;
    height: 200px;
  }

  .ui-ux__design-kinds{
      font-size: 13px;
      margin-bottom: 5px;
  }

  .ui-ux__title{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 13px;
  }

  .ui-ux__dex{
      font-size: 15px;
  }

  .ui-ux__dex:last-child{
      font-size: 13px;
      margin-top: 3px;
    font-family: 'S-CoreDream-3Light';
}




  .personal__item-box{
    margin-left: 15%;
    height: 100%;
    justify-content: center;
    align-items: start;
}

  .personal__item-box>li{
      width: 20vw;
      height: 20vw;
      background-color: red;
      margin: 2vw;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .personal__item-box>li:nth-child(1){
      background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-2.jpg');
  }

  .personal__item-box>li:nth-child(2){
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-1.jpg');
}

.personal__item-box>li:nth-child(3){
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-3.jpg');
}

.personal__item-box>li:nth-child(4){
  background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-4.jpg');
}

.personal__item-box>li:nth-child(5){
    background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-5.jpg');
}

.personal__item-box>li:nth-child(6){
  background-image: url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/personal__img-1.jpg');
}

  .personal__item-box>li:nth-child(1),.personal__item-box>li:nth-child(2),.personal__item-box>li:nth-child(3){
      align-self: flex-end;
  }






  /* html.popup-actived,
html.popup-actived > body {
  overflow-y:hidden;
  touch-action: none;
} */

.popup {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.3);
  display:flex;
  justify-content:center;
  align-items:center;
  opacity:0;
  visibility:hidden;
  
  transition:opacity .3s, visibility .3s;
  z-index: 500;
}

.popup.active {
  opacity:1;
  visibility:visible;
}

.popup__main {
  background-color:white;
  min-width: 1200px;
  max-width: 1400px;
  height: 90vh;
  border-radius: 30px;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
}

.popup__header {
  padding:20px;
}

.popup__body {
    display: flex;
    padding: 10px 40px 50px 40px;
    height: 100%;
  overflow-y:auto;
  color: #555;
}

.popup__body>div{
    width: 50%;
    margin-right: 10px;
    height: 100%;
}

.popup__content{
    flex-direction: column;
    justify-content: space-between;
}

.popup__content>.top>.kinds{
    font-size: 20px;
}

.popup__content>.top>.title{
    font-size: 40px;
    font-weight: bold;
}

.popup__content>.top>.des{
    margin-top: 80px;
}

.popup__content>.bottom>.color{
    width: 100%;
}

.popup__content>.bottom>.color>div{
    display: flex;
    align-items: center;
}

.popup__content>.bottom>.color>div>div{
    margin-top: 10px;
}

.popup__content>.bottom>.color>div>div:first-child{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.popup-1 .popup__content>.bottom>.color>.color-1>div:first-child{
    background-color: #f1f1ef;
}

.popup-1 .popup__content>.bottom>.color>.color-2>div:first-child{
    background-color: #5e6c8b;
}

.popup-2 .popup__content>.bottom>.color>.color-1>div:first-child{
    background-color: #d0dbf0;
}

.popup-2 .popup__content>.bottom>.color>.color-2>div:first-child{
    background-color: #224f67;
}

.popup-2 .popup__content>.bottom>.color>.color-3>div:first-child{
    background-color: #f090a0;
}

.popup__content>.bottom>.color>div>div:nth-child(2){
    margin-left: 10px;
}

.popup__content>.bottom>.color>div>div:last-child{
    margin-left: 15px;
}

.popup__content>.bottom>.color>div>div>span{
    display: block;
    font-size: 12px;
}

.popup__content>.bottom>.color>div>div:last-child>span:last-child{
    margin: 2px;
}

.popup__body>.popup__img{
    display: flex;
    flex-direction: column;
    background-color: blue;
    margin-right: 0px;
    margin-left: 10px;
}

.popup__body>.popup__img>.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.popup__body>.popup__img>div{
    height: 100%;
}

.popup-1 .popup__body>.popup__img>.img{
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/healtime.png');
}

.popup-2 .popup__body>.popup__img>.img{
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/on-and-off.png');
}

.popup-3 .popup__body>.popup__img>.img{
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/healtime.png');
}

.popup-4 .popup__body>.popup__img>.img{
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/healtime.png');
}

.popup-5 .popup__body>.popup__img>.img{
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/healtime.png');
}

.popup-6 .popup__body>.popup__img>.img:nth-child(1){
    background-image:url('https://cdn.jsdelivr.net/gh/wjsekdud14728/web-res/ddang/healtime.png');
}

.popup__btn-close {
  width:30px;
  height:30px;
  margin-left: auto;
  margin-right: 20px;
  position:relative;
  cursor:pointer;
}

.popup__btn-close:hover::before, .popup__btn-close:hover::after {
  background-color: #333;
}

.popup__btn-close::before, .popup__btn-close::after {
  content:"";
  position:absolute;
  top:50%;
  left:0;
  width:100%;
  height:8%;
  background-color:#c7c7c7;
  transform:rotate(45deg);
  transition: background-color .3s;
}

.popup__btn-close::after {
  transform:rotate(-45deg);
}
/* 커스텀 끝 */