/* 폰트적용 */
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'S-CoreDream-5Medium', sans-serif;
}

/* 노말라이징 */
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 시작 */
.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
    ;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-c {
    align-self: center;
}

/* 성장성 부여 */
.flex-grow-1 {
    flex-grow: 1;
}

/* 성장성 부여 */
.flex-1-0-0 {
    flex: 1 0 0;
}

.block {
    display: block;
}

.height-100p {
    height: 100%;
}

.height-100vh {
    height: 100vh;
}

.min-height-100vh {
    min-height: 100vh;
}

.img-box>img {
    width: 100%;
    display: block;
}

.bg-red {
    background-color: red;
}

.bg-gold {
    background-color: gold;
}

.bg-blue {
    background-color: blue;
}

.border-box {
    box-sizing: border-box;
}

.padding-0-10 {
    padding: 0 10px;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
body,
html {
    overflow: hidden;
}

body {
    background-color: #fbf8f1;
    height: 23000px;
    font-family: Orbitron;
    letter-spacing: 2px;
}

.logo {
    position: fixed;
    top: 7%;
    left: 7%;
    width: 80px;
    z-index: 100;
}

.scrollNavi {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    z-index: 100;
}

.scrollNavi>ul>li {
    width: 200px;
    padding-left: 20px;
    box-sizing: border-box;
    perspective: 400px;
}

.scrollNavi>ul>li.on {
    background-color: #ebc681;
    color: #fff;
}

.scrollNavi>ul>li>a {
    display: block;
    padding: 20px 8px;
    font-size: 15px;
}


.move-box {
    width: 100%;
    height: 100%;
    position: fixed;
    perspective: 2300px;
    z-index: 1;
}

.move-box>article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: 8;
}

.move-box>article.on {
    opacity: 1;
    z-index: 9;
    background-color: #fbf8f1;
}

.move-box>.home {
    transform: translateZ(0px);
    background-color: beige;
}

.move-box>.about {
    transform: translateZ(-5000px);
}

.move-box>.ui-ux {
    transform: translateZ(-10000px);
}

.move-box>.personal {
    transform: translateZ(-15000px);
}

.move-box>.contact {
    transform: translateZ(-20000px);
}

.home>ul>li {
    position: absolute;
}

.home__img-1 {
    top: 20px;
    left: 50%;
    transform: translatex(-50%);
    width: 90%;
}

.home__img-2,.home__img-3 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

.home__img-3 {
    opacity: 0;
}

.home__img-4 {
    top: 63%;
    left: 50%;
    transform: translatex(-50%);
    opacity: 0;
}

.about>.flex{
    min-width: 1200px;
    margin-left: 15%;
}

.about__left, .about__right{
    width: 50%;
    box-sizing: border-box;
}

.about__profile-img{
    width: 45%;
    margin: 0 auto;
    opacity: 80%;
}

.about__name{
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}

.about__name>p:last-child{
    font-size: 20px;
}

.about__name>p, .about__information>p{
    margin-top: 3px;
}

.about__information{
    font-size: 30px;
    font-weight: bold;
    margin-top: 13px;
}

.about__introduce{
    font-size: 20px;
    margin-top: 50px
}

.about__introduce>p{
    margin-top: 7px;
}

.about__right{
    margin-left: 0px;
}

.about__right>div>.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 17px;
}

.about__right>div>div:not(:first-child){
    font-size: 15px;
    display: inline-block;
}

.about__right>div>div:not(:first-child)>p{
    padding-bottom: 7px;
}

.about__right>div>.date{
    color: #91751c;
    marg
    in-right: 5px;
}

.about__right>div:not(:first-child){
    margin-top: 50px;
}

.about__right>div:last-child>div>p:not(:last-child){
    padding-bottom: 15px;
}

.about__skills>.stick{
    height: 165px;
    margin-left: 50px;
}

.about__skill-stick-box{
    position: relative;
    width: 400px;
    height: 20%;
    margin-bottom: 2px;
}

.about__skill-stick-box>.about__skill-stick{
    position: absolute;
    width: 100%;
    height: 18%;
    background-color: #fff;
    top: 50%;
    transform: translatey(-50%);
}

.about__skill-stick-box>.about__skill-stick>div{
    position: absolute;
    top:0;
    left: 0;
    background-color: #91751c;
    height: 100%;
    width: 0;
    transition: all 2s;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-90{
    width: 90%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-80{
    width: 80%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-70{
    width: 70%;
}

.move-box>article:nth-child(2).on .about__skill-stick>.skill-percent-60{
    width: 60%;
}

.ui-ux{
    background-color: white;
    height: 100%;
    width: 80%;
    left: auto;
    right: 0;
}
/* 커스텀 끝 */